.box_1 {
    height: 500px;
    background-color: #1F2937;
    padding: 20px 200px 100px 200px;
  }
.header_complete{
    display: flex;
    justify-content: space-between;
}

.header_rest{
    display: flex;
    font-size: 18px;
    gap: 20px;
    color: #E5E7EB;
}
.header_logo{
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}
.box_1_main{
    color: #F9FAF8;
    display: flex;
    margin: 10% 0px 10% 0px;
    gap: 40px;
    
}
.for_content{
    width: 50%;
    height: 300px;
}
.image_holder{
    display: flex;
    background-color: grey;
    width: 60%;
    justify-content: center;
    align-items: center;
}
button{
    margin-top: 10px;
    background-color: #3822F6;
    color: white;
    padding: 1px 20px 1px 20px;
    font-size: 15px;
    font-weight: 700;
    border: 0px;
    border-radius: 3px;
}

.box_2{
    height: 450px;
}
.heading{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    padding: 35px;
}
.boxes{
    display: flex;
    gap: 25px;
    justify-content: center;
}
.item{
    height: 120px;
    width: 120px;
    border: 5px;
    padding: 10px;
    border-color:#3822F6;
    border-style: solid;
    border-radius: 10px;
}
.below_boxes{
    display: flex;
    gap: 25px;
    justify-content: center;
    padding-top: 10px;
}
.underbox{
    height: 150px;
    width: 150px;
}
.box_3{
    background-color: #E5E7EB;
    height: 350px;
}
.box_4{
    height: 300px;
}
*{
    margin: 0px;
    font-family: 'Roboto';
}